 :root {
    --bg-main: #161b22;        
    --bg-panel: #111827;      
    --bg-card: #1f2937;

    --bubble-me: #2563eb;    
    --bubble-other: #1f2937;

    --accent: #38bdf8;        
    --text-main: #e5e7eb;
    --text-muted: #9ca3af;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:
        "Inter",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Noto Color Emoji",
        sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: var(--bg-main);
    color: var(--text-main);
    border: none;
    outline: none;
}
 
html {
    scroll-behavior: smooth;
}